
.page{
  width: 100vw;
  height: 100vh;
}
/* 온보딩 페이지 */
.onboarding-page1 {
  position: relative;
  width: 100vw; /* 1280px -> 1280px 기준 */
  height: 100vh;
  background: #FFFFFF;
}

/* Group 7 */
.group-0903 {
  position:absolute;
  width: 100%;
  height: 100%;
  background: #355E3D;
}
/* Rectangle 14 */
.rectangle-2 {
  position: absolute;
  width: 100%; /* 1280px -> 1280px 기준 */
  height: 14.42%; /* 120px -> 832px 기준 */
  left: 0%;
  top: 85.58%; /* 712px -> 832px 기준 */
  background: linear-gradient(180deg, #355E3D 0%, rgba(53, 94, 61, 0.8) 49%, rgba(53, 94, 61, 0) 100%);
}

/* Rectangle 15 */
.rectangle-3 {
  position: absolute;
  width: 100%; /* 1280px -> 1280px 기준 */
  height: 87.26%; /* 726px -> 832px 기준 */
  left: 0%;
  top: -1.68%; /* -14px -> 832px 기준 */
  background: #355E3D;
}

/* 청소년을 위한 AI 입시 컨설팅 */
.title1 {
  position: absolute;
  width: 40%; /* 482px -> 1280px 기준 */
  height: 24.04%; /* 200px -> 832px 기준 */
  left: 11.09%; /* 142px -> 1280px 기준 */
  top: 22.96%; /* 191px -> 832px 기준 */
  font-family: 'Spoqa Han Sans Neo';
  font-style: normal;
  font-weight: 500;
  font-size: 6vw;
  line-height: 7.81vw;
  color: #FFFFFF;
}

/* mdi:compass-outline */
.compass-outline1 {
  position: absolute;
  width: 55.23%; /* 707px -> 1280px 기준 */
  height: 84.98%; /* 707px -> 832px 기준 */
  left: 55.23%; /* 707px -> 1280px 기준 */
  top: 29.09%; /* 242px -> 832px 기준 */
  opacity: 0.2;
}
.vector72 {
  position: absolute;
  left: 8.33%;
  right: 8.33%;
  top: 8.33%;
  bottom: 8.33%;
  background: #FFFFFF;
}


/* Vector */
.vector1 {
  position: absolute;
  width: 100%; /* 33px -> 1280px 기준 */
  height: 100%; /* 33px -> 832px 기준 */
}

/* AI 입시 컨설팅 설명 */
.description1 {
  position: absolute;
  width: 33.59%; /* 430px -> 1280px 기준 */
  height: 7.21%; /* 60px -> 832px 기준 */
  left: 11.5%; /* 142px -> 1280px 기준 */
  top: 54%; /* 430px -> 832px 기준 */
  font-family: 'Spoqa Han Sans Neo';
  font-style: normal;
  font-weight: 400;
  font-size: 1.8vw;
  line-height: 3.61vw;
  color: #FFFFFF;
}

/* Vector 1 */
.vector2 {
  position: absolute;
  width: 2.42%; /* 31px -> 1280px 기준 */
  height: 1.8%; /* 15px -> 832px 기준 */
  left: 48.75%; /* 624px -> 1280px 기준 */
  top: 89.06%; /* 741px -> 832px 기준 */
  border: 0.39vw solid #FFFFFF;
}

/* mdi:compass-outline (small) */
.compass-outline-small1 {
  position: absolute;
  width: 2.58%; /* 33px -> 1280px 기준 */
  height: 3.97%; /* 33px -> 832px 기준 */
  left: 10.39%; /* 133px -> 1280px 기준 */
  top: 2.1%; /* 28px -> 832px 기준 */
}

/* Canav */
.canav1 {
  position: absolute;
  width: 7.66%; /* 98px -> 1280px 기준 */
  height: 4.81%; /* 40px -> 832px 기준 */
  left: 13.28%; /* 170px -> 1280px 기준 */
  top: 1.1%; /* 25px -> 832px 기준 */
  font-family: 'Spoqa Han Sans Neo';
  font-style: normal;
  font-weight: 700;
  font-size: 2.5vw;
  line-height: 4.81vw;
  text-align: right;
  color: #FFFFFF;
}

/* 회원가입 */
.signup1 {
  position: absolute;
  width: 4%; /* 37px -> 1280px 기준 */
  height: 1.56%; /* 13px -> 832px 기준 */
  left: 84.8%; /* 1092px -> 1280px 기준 */
  top: 3.3%; /* 39px -> 832px 기준 */
  font-family: 'Spoqa Han Sans Neo';
  font-style: normal;
  font-weight: 400;
  font-size: 0.78vw;
  line-height: 1.56vw;
  text-align: right;
  color: #FFFFFF;
}

/* 로그인 */
.login1 {
  position: absolute;
  width: 3%; /* 28px -> 1280px 기준 */
  height: 1.56%; /* 13px -> 832px 기준 */
  left: 81%; /* 1032px -> 1280px 기준 */
  top: 3.4%; /* 39px -> 832px 기준 */
  font-family: 'Spoqa Han Sans Neo';
  font-style: normal;
  font-weight: 400;
  font-size: 0.78vw;
  line-height: 1.56vw;
  text-align: right;
  color: #FFFFFF;
}

/* Line 3 */
.line-1 {
  position: absolute;
  width: 1.25%; /* 16px -> 1280px 기준 */
  height: 0;
  left: 84.14%; /* 1077px -> 1280px 기준 */
  top: 4.57%; /* 38px -> 832px 기준 */
  background: #FFFFFF;
  opacity: 0.5;
  border: 0.04vw solid #FFFFFF;
  transform: rotate(90deg);
}

/* Line 4 */
.line-2 {
  position: absolute;
  width: 78.52%; /* 1005px -> 1280px 기준 */
  height: 0;
  left: 10.39%; /* 133px -> 1280px 기준 */
  top: 9.13%; /* 76px -> 832px 기준 */
  opacity: 0.5;
  border: 0.04vw solid #FFFFFF;
}
.rectangle-0904 {
  position: absolute;
    width: 100%;
    height: 14.42%;
    left: 0%;
    top: 85.58%;
    background: linear-gradient(180deg, #355E3D 0%, rgba(53, 94, 61, 0.8) 49%, rgba(53, 94, 61, 0) 100%);
}

/* 개지리노~ */
.page-section {
  position: relative;
  width: 100vw; /* 1280px -> 1280px 기준 */
  height: 100vh; /* 832px -> 832px 기준 */
  top: 0%;
  background: #FFFFFF;
}

/* 질문어쩌구저쩌구 */
.question-title {
  position: absolute;
  width: 34.61%; /* 443px -> 1280px 기준 */
  height: 7.57%; /* 63px -> 832px 기준 */
  left: 11.09%; /* 142px -> 1280px 기준 */
  top: 5.65%; /* 47px -> 832px 기준 */
  font-family: 'Spoqa Han Sans Neo';
  font-style: normal;
  font-weight: 700;
  font-size: 3.91vw;
  line-height: 7.57vh;
  color: #000000;
}

/* Rectangle 19 */
.rectangle-4 {
  position: absolute;
  box-sizing: border-box;
  width: 77.81%; /* 996px -> 1280px 기준 */
  height: 66.83%; /* 556px -> 832px 기준 */
  left: 11.09%; /* 142px -> 1280px 기준 */
  top: 18.03%; /* 150px -> 832px 기준 */
  background: #F0F0F0;
  border: 0.08vw solid rgba(0, 0, 0, 0.15);
  border-radius: 1.8vh;
}

/* 질문에 대한 답변을 입력해주세요. */
.answer-placeholder {
  position: absolute;
  width: 21.56%; /* 276px -> 1280px 기준 */
  height: 3.01%; /* 25px -> 832px 기준 */
  left: 13.44%; /* 172px -> 1280px 기준 */
  top: 21.15%; /* 176px -> 832px 기준 */
  font-family: 'Spoqa Han Sans Neo';
  font-style: normal;
  font-weight: 400;
  font-size: 1.56vw;
  line-height: 3.01vh;
  color: #000000;
  opacity: 0.3;
}

/* 온보딩 페이지 */
.onboarding-page-2 {
  position: relative;
  width: 100%vw; /* 1280px -> 1280px 기준 */
  height: 100vh; /* 832px -> 832px 기준 */
  top: 0%;
  background: #FFFFFF;
}

/* Rectangle 20 */
.rectangle-5 {
  position: absolute;
  box-sizing: border-box;
  width: 77.81%; /* 996px -> 1280px 기준 */
  height: 66.83%; /* 556px -> 832px 기준 */
  left: 11.09%; /* 142px -> 1280px 기준 */
  top: 18.15%; /* 151px -> 832px 기준 */
  background: #F0F0F0;
  border: 0.08vw solid rgba(0, 0, 0, 0.15);
  border-radius: 1.8vh;
}

/* Rectangle 21 */
.rectangle-6 {
  position: absolute;
  width: 14.06%; /* 180px -> 1280px 기준 */
  height: 5.77%; /* 48px -> 832px 기준 */
  left: 58.91%; /* 754px -> 1280px 기준 */
  top: 88.34%; /* 735px -> 832px 기준 */
  background: #929292;
  border-radius: 0.6vh;
}

/* 임시저장 */
.temp-save {
  position: absolute;
  width: 6%; /* 67px -> 1280px 기준 */
  height: 2.76%; /* 23px -> 832px 기준 */
  left: 63%; /* 810px -> 1280px 기준 */
  top: 89.9%; /* 748px -> 832px 기준 */
  font-family: 'Spoqa Han Sans Neo';
  font-style: normal;
  font-weight: 700;
  font-size: 1.41vw;
  line-height: 2.76vh;
  text-align: center;
  color: #FFFFFF;
}

/* Rectangle 22 */
.rectangle-7 {
  position: absolute;
  width: 14.06%; /* 180px -> 1280px 기준 */
  height: 5.77%; /* 48px -> 832px 기준 */
  left: 74.84%; /* 958px -> 1280px 기준 */
  top: 88.34%; /* 735px -> 832px 기준 */
  background: #179E30;
  border-radius: 0.6vh;
}

/* 제출하기 */
.submit {
  position: absolute;
  width: 6%; /* 67px -> 1280px 기준 */
  height: 2.76%; /* 23px -> 832px 기준 */
  left: 79%; /* 1014px -> 1280px 기준 */
  top: 89.9%; /* 748px -> 832px 기준 */
  font-family: 'Spoqa Han Sans Neo';
  font-style: normal;
  font-weight: 700;
  font-size: 1.41vw;
  line-height: 2.76vh;
  text-align: center;
  color: #FFFFFF;
}















/* 2-1페이지 */
.onboarding-page-3 {
  position: relative;
  width: 100vw; /* 1280px -> 1280px 기준 */
  height: 100vh; /* 832px -> 832px 기준 */
  background: #FFFFFF;
}

/* Group 7 */
.group-0830 {
  position: absolute;
  width: 100vw; /* 1280px -> 1280px 기준 */
  height: 100vh; /* 846px -> 832px 기준 */
}

/* Rectangle 14 */
.rectangle-8 {
  position: absolute;
  width: 100%; /* 1280px -> 1280px 기준 */
  height: 14.42%; /* 120px -> 832px 기준 */
  left: 0%;
  top: 85.58%; /* 712px -> 832px 기준 */
  background: linear-gradient(180deg, #355E3D 0%, rgba(53, 94, 61, 0.8) 49%, rgba(53, 94, 61, 0) 100%);
}

/* Rectangle 15 */
.rectangle-9 {
  position: absolute;
  width: 100%; /* 1280px -> 1280px 기준 */
  height: 87.26%; /* 726px -> 832px 기준 */
  left: 0%;
  top: -1.68%; /* -14px -> 832px 기준 */
  background: #355E3D;
}

/* 청소년을 위한 AI 진로 컨설팅 */
.title2 {
  position: absolute;
  width: 40%; /* 482px -> 1280px 기준 */
  height: 24.04%; /* 200px -> 832px 기준 */
  left: 11.09%; /* 142px -> 1280px 기준 */
  top: 22.96%; /* 191px -> 832px 기준 */
  font-family: 'Spoqa Han Sans Neo';
  font-style: normal;
  font-weight: 500;
  font-size: 6vw;
  line-height: 7.81vw;
  color: #FFFFFF;
}

/* AI 진로 컨설팅 설명 */
.description2 {
  position: absolute;
  width: 32.26%; /* 413px -> 1280px 기준 */
  height: 7.21%; /* 60px -> 832px 기준 */
  left: 11.09%; /* 142px -> 1280px 기준 */
  top: 54%; /* 430px -> 832px 기준 */
  font-family: 'Spoqa Han Sans Neo';
  font-style: normal;
  font-weight: 400;
  font-size: 1.88vw;
  line-height: 3.61vh;
  color: #FFFFFF;
}

/* Vector 1 밑으로 내려가는 화살표*/
.vector1982 {
  position: absolute;
  width: 2.42%; /* 31px -> 1280px 기준 */
  height: 1.8%; /* 15px -> 832px 기준 */
  left: 48.75%; /* 624px -> 1280px 기준 */
  top: 92%; /* 741px -> 832px 기준 */
  border: 0.6vh solid #FFFFFF;
}

/* Small mdi:compass-outline */
.compass-outline {
  position: absolute;
  width: 2.58%; /* 33px -> 1280px 기준 */
  height: 3.97%; /* 33px -> 832px 기준 */
  left: 10.39%; /* 133px -> 1280px 기준 */
  top: 3.37%; /* 28px -> 832px 기준 */
}

/* Vector */
.vector4 {
  position: absolute;
  left: 8.33%;
  right: 8.33%;
  top: 8.33%;
  bottom: 8.33%;
  background: #FFFFFF;
}

/* Canav */
.canav2 {
  position: absolute;
  width: 7.66%; /* 98px -> 1280px 기준 */
  height: 4.81%; /* 40px -> 832px 기준 */
  left: 13.28%; /* 170px -> 1280px 기준 */
  top: 3.01%; /* 25px -> 832px 기준 */
  font-family: 'Spoqa Han Sans Neo';
  font-style: normal;
  font-weight: 700;
  font-size: 2.5vw;
  line-height: 4.81vh;
  text-align: right;
  color: #FFFFFF;
}

/* 회원가입 */
.signup3 {
  position: absolute;
  width: 4%; /* 37px -> 1280px 기준 */
  height: 1.56%; /* 13px -> 832px 기준 */
  left: 84.6%; /* 1092px -> 1280px 기준 */
  top: 5.1%; /* 39px -> 832px 기준 */
  font-family: 'Spoqa Han Sans Neo';
  font-style: normal;
  font-weight: 400;
  font-size: 0.78vw;
  line-height: 1.56vh;
  text-align: right;
  color: #FFFFFF;
}

/* 로그인 */
.login3 {
  position: absolute;
  width: 3%; /* 28px -> 1280px 기준 */
  height: 1.56%; /* 13px -> 832px 기준 */
  left: 80.62%; /* 1032px -> 1280px 기준 */
  top: 5.2%; /* 39px -> 832px 기준 */
  font-family: 'Spoqa Han Sans Neo';
  font-style: normal;
  font-weight: 400;
  font-size: 0.78vw;
  line-height: 1.56vh;
  text-align: right;
  color: #FFFFFF;
}

/* Line 3 */
.line-3 {
  position: absolute;
  width: 1.25%; /* 16px -> 1280px 기준 */
  height: 0;
  left: 84.14%; /* 1077px -> 1280px 기준 */
  top: 4.57%; /* 38px -> 832px 기준 */
  background: #FFFFFF;
  opacity: 0.5;
  border: 0.06vh solid #FFFFFF;
  transform: rotate(90deg);
}

/* Line 4 */
.line-4 {
  position: absolute;
  width: 78.52%; /* 1005px -> 1280px 기준 */
  height: 0;
  left: 10.39%; /* 133px -> 1280px 기준 */
  top: 9.13%; /* 76px -> 832px 기준 */
  opacity: 0.5;
  border: 0.06vh solid #FFFFFF;
}

/* Large mdi:compass-outline */
.large-compass-outline {
  position: absolute;
  width: 55.23%; /* 707px -> 1280px 기준 */
  height: 84.98%; /* 707px -> 832px 기준 */
  left: 55.23%; /* 707px -> 1280px 기준 */
  top: 29.09%; /* 242px -> 832px 기준 */
  opacity: 0.2;
}
.vector73 {
  position: absolute;
  left: 8.33%;
  right: 8.33%;
  top: 8.33%;
  bottom: 8.33%;
  background: #FFFFFF;
}

/* 2-2페이지 */
.onboarding-page-4 {
  position: relative;
  width: 100vw;
  height: 100vh;
  background: #FFFFFF;
}

/* 질문 제목 */
.question-title2 {
  position: absolute;
  width: 34.61%; /* 443px -> 1280px 기준 */
  height: 7.57%; /* 63px -> 832px 기준 */
  left: 11.09%; /* 142px -> 1280px 기준 */
  top: 5.65%; /* 47px -> 832px 기준 */
  font-family: 'Spoqa Han Sans Neo';
  font-style: normal;
  font-weight: 700;
  font-size: 3.91vw;
  line-height: 7.57vh;
  color: #000000;
}

/* 답변 박스 */
.answer-box2 {
  position: absolute;
  box-sizing: border-box;
  width: 77.81%; /* 996px -> 1280px 기준 */
  height: 66.83%; /* 556px -> 832px 기준 */
  left: 11.09%; /* 142px -> 1280px 기준 */
  top: 18.03%; /* 150px -> 832px 기준 */
  background: #F0F0F0;
  border: 0.08vh solid rgba(0, 0, 0, 0.15);
  border-radius: 1.8vh;
}

/* 답변 입력 안내 텍스트 */
.placeholder-text3 {
  position: absolute;
  width: 21.56%; /* 276px -> 1280px 기준 */
  height: 3.01%; /* 25px -> 832px 기준 */
  left: 13.44%; /* 172px -> 1280px 기준 */
  top: 21.15%; /* 176px -> 832px 기준 */
  font-family: 'Spoqa Han Sans Neo';
  font-style: normal;
  font-weight: 400;
  font-size: 1.56vw;
  line-height: 3.01vh;
  color: #000000;
  opacity: 0.3;
}


/* 2-3페이지 */
.onboarding-page-5 {
  position: relative;
  width: 100%; /* 1280px -> 1280px 기준 */
  height: 100%; /* 832px -> 832px 기준 */
  background: #FFFFFF;
}

/* 질문어쩌구저쩌구 */
.question-title2 {
  position: absolute;
  width: 34.61%; /* 443px -> 1280px 기준 */
  height: 7.57%; /* 63px -> 832px 기준 */
  left: 11.09%; /* 142px -> 1280px 기준 */
  top: 5.65%; /* 47px -> 832px 기준 */
  font-family: 'Spoqa Han Sans Neo';
  font-style: normal;
  font-weight: 700;
  font-size: 3.91vw;
  line-height: 7.57vh;
  color: #000000;
}

/* Rectangle 19 */
.answer-box2 {
  position: absolute;
  box-sizing: border-box;
  width: 77.81%; /* 996px -> 1280px 기준 */
  height: 66.83%; /* 556px -> 832px 기준 */
  left: 11.09%; /* 142px -> 1280px 기준 */
  top: 18.03%; /* 150px -> 832px 기준 */
  background: #F0F0F0;
  border: 0.08vh solid rgba(0, 0, 0, 0.15);
  border-radius: 1.8vh;
}

/* 질문에 대한 답변을 입력해주세요. */
.placeholder-text4 {
  position: absolute;
  width: 21.56%; /* 276px -> 1280px 기준 */
  height: 3.01%; /* 25px -> 832px 기준 */
  left: 13.44%; /* 172px -> 1280px 기준 */
  top: 21.15%; /* 176px -> 832px 기준 */
  font-family: 'Spoqa Han Sans Neo';
  font-style: normal;
  font-weight: 400;
  font-size: 1.56vw;
  line-height: 3.01vh;
  color: #000000;
  opacity: 0.3;
}

/* 임시저장 버튼 */
.temp-save-btn2 {
  position: absolute;
  width: 14.06%; /* 180px -> 1280px 기준 */
  height: 5.77%; /* 48px -> 832px 기준 */
  left: 58.91%; /* 754px -> 1280px 기준 */
  top: 88.34%; /* 735px -> 832px 기준 */
  background: #929292;
  border-radius: 0.6vh;
}

/* 임시저장 텍스트 */
.temp-save-text2 {
  position: absolute;
  width: 5.23%; /* 67px -> 1280px 기준 */
  height: 2.76%; /* 23px -> 832px 기준 */
  left: 63.28%; /* 810px -> 1280px 기준 */
  top: 89.9%; /* 748px -> 832px 기준 */
  font-family: 'Spoqa Han Sans Neo';
  font-style: normal;
  font-weight: 700;
  font-size: 1.41vw;
  line-height: 2.76vh;
  text-align: center;
  color: #FFFFFF;
}

/* 제출 버튼 */
.submit-btn2 {
  position: absolute;
  width: 14.06%; /* 180px -> 1280px 기준 */
  height: 5.77%; /* 48px -> 832px 기준 */
  left: 74.84%; /* 958px -> 1280px 기준 */
  top: 88.34%; /* 735px -> 832px 기준 */
  background: #179E30;
  border-radius: 0.6vh;
}

/* 제출 텍스트 */
.submit-text2 {
  position: absolute;
  width: 5.23%; /* 67px -> 1280px 기준 */
  height: 2.76%; /* 23px -> 832px 기준 */
  left: 79.22%; /* 1014px -> 1280px 기준 */
  top: 89.9%; /* 748px -> 832px 기준 */
  font-family: 'Spoqa Han Sans Neo';
  font-style: normal;
  font-weight: 700;
  font-size: 1.41vw;
  line-height: 2.76vh;
  text-align: center;
  color: #FFFFFF;
}







/*3-1페이지*/
/* 온보딩 페이지 */
.onboarding-page-61 {
  position: relative;
  width: 100vw;
  height: 100vh;
  background: #FFFFFF;
}

/* Group 7 */
.group-901 {
  position: absolute;
  width: 100vw;
  height: 100vh;
}

/* Rectangle 14 */
.rectangle-51 {
  position: absolute;
  width: 100%; /* 1280px -> 1280px 기준 */
  height: 14.42%; /* 120px -> 832px 기준 */
  left: 0%;
  top: 85.58%; /* 712px -> 832px 기준 */
  background: linear-gradient(180deg, #355E3D 0%, rgba(53, 94, 61, 0.8) 49%, rgba(53, 94, 61, 0) 100%);
}

/* Rectangle 15 */
.rectangle-61 {
  position: absolute;
  width: 100%; /* 1280px -> 1280px 기준 */
  height: 87.26%; /* 726px -> 832px 기준 */
  left: 0%;
  top: -1.68%; /* -14px -> 832px 기준 */
  background: #355E3D;
}

/* 대학생을 위한 AI 취업 컨설팅 */
.title31 {
  position: absolute;
  width: 40%; /* 482px -> 1280px 기준 */
  height: 24.04%; /* 200px -> 832px 기준 */
  left: 11.09%; /* 142px -> 1280px 기준 */
  top: 22.96%; /* 191px -> 832px 기준 */
  font-family: 'Spoqa Han Sans Neo';
  font-style: normal;
  font-weight: 500;
  font-size: 6vw;
  line-height: 7.81vw;
  color: #FFFFFF;
}

/* AI 취업 컨설팅 설명 */
.description31 {
  position: absolute;
  width: 32.26%; /* 413px -> 1280px 기준 */
  height: 7.21%; /* 60px -> 832px 기준 */
  left: 11.09%; /* 142px -> 1280px 기준 */
  top: 55%; /* 430px -> 832px 기준 */
  font-family: 'Spoqa Han Sans Neo';
  font-style: normal;
  font-weight: 400;
  font-size: 1.88vw;
  line-height: 3.61vh;
  color: #FFFFFF;
}

/* Vector 1 */
.vector61 {
  position: absolute;
  width: 2.42%; /* 31px -> 1280px 기준 */
  height: 1.8%; /* 15px -> 832px 기준 */
  left: 48.75%; /* 624px -> 1280px 기준 */
  top: 89.06%; /* 741px -> 832px 기준 */
  border: 0.6vh solid #FFFFFF;
}

/* Small mdi:compass-outline */
.compass-outline21 {
  position: absolute;
  width: 2.58%; /* 33px -> 1280px 기준 */
  height: 3.97%; /* 33px -> 832px 기준 */
  left: 10.39%; /* 133px -> 1280px 기준 */
  top: 3.37%; /* 28px -> 832px 기준 */
}

/* Vector */
.vector71 {
  position: absolute;
  left: 8.33%;
  right: 8.33%;
  top: 8.33%;
  bottom: 8.33%;
  background: #FFFFFF;
}

/* Canav */
.canav31 {
  position: absolute;
  width: 7.66%; /* 98px -> 1280px 기준 */
  height: 4.81%; /* 40px -> 832px 기준 */
  left: 13.28%; /* 170px -> 1280px 기준 */
  top: 3.01%; /* 25px -> 832px 기준 */
  font-family: 'Spoqa Han Sans Neo';
  font-style: normal;
  font-weight: 700;
  font-size: 2.5vw;
  line-height: 4.81vh;
  text-align: right;
  color: #FFFFFF;
}

/* Line 3 */
.line-51 {
  position: absolute;
  width: 1.25%; /* 16px -> 1280px 기준 */
  height: 0;
  left: 84.14%; /* 1077px -> 1280px 기준 */
  top: 4.57%; /* 38px -> 832px 기준 */
  background: #FFFFFF;
  opacity: 0.5;
  border: 0.06vh solid #FFFFFF;
  transform: rotate(90deg);
}

/* Line 4 */
.line-61 {
  position: absolute;
  width: 78.52%; /* 1005px -> 1280px 기준 */
  height: 0;
  left: 10.39%; /* 133px -> 1280px 기준 */
  top: 9.13%; /* 76px -> 832px 기준 */
  opacity: 0.5;
  border: 0.06vh solid #FFFFFF;
}

/* Large mdi:compass-outline */
.large-compass-outline21 {
  position: absolute;
  width: 55.23%; /* 707px -> 1280px 기준 */
  height: 84.98%; /* 707px -> 832px 기준 */
  left: 55.23%; /* 707px -> 1280px 기준 */
  top: 29.09%; /* 242px -> 832px 기준 */
  opacity: 0.2;
}
.signup5 {
  position: absolute;
  width: 4%; /* 37px -> 1280px 기준 */
  height: 1.56%; /* 13px -> 832px 기준 */
  left: 84.6%; /* 1092px -> 1280px 기준 */
  top:  4%; /* 39px -> 832px 기준 */
  font-family: 'Spoqa Han Sans Neo';
  font-style: normal;
  font-weight: 400;
  font-size: 0.78vw;
  line-height: 1.56vh;
  text-align: right;
  color: #FFFFFF;
}

/* 로그인 */
.login5 {
  position: absolute;
  width: 3%; /* 28px -> 1280px 기준 */
  height: 1.56%; /* 13px -> 832px 기준 */
  left: 81.1%; /* 1032px -> 1280px 기준 */
  top: 4%; /* 39px -> 832px 기준 */
  font-family: 'Spoqa Han Sans Neo';
  font-style: normal;
  font-weight: 400;
  font-size: 0.78vw;
  line-height: 1.56vh;
  text-align: right;
  color: #FFFFFF;
}

/* 3-2페이지 */
.onboarding-page-71 {
  position: relative;
  width: 100vw; /* 1280px 기준 */
  height: 100vh; /* 832px 기준 */
  background: #FFFFFF;
}


/* 질문 제목 */
.question-title31 {
  position: absolute;
  width: 34.61%; /* 443px -> 1280px 기준 */
  height: 7.57%; /* 63px -> 832px 기준 */
  left: 11.09%; /* 142px -> 1280px 기준 */
  top: 5.65%; /* 47px -> 832px 기준 */
  font-family: 'Spoqa Han Sans Neo';
  font-style: normal;
  font-weight: 700;
  font-size: 3.91vw; /* 50px -> 1280px 기준 */
  line-height: 7.57vh; /* 63px -> 832px 기준 */
  color: #000000;
}

/* Rectangle 19 */
.answer-box41 {
  position: absolute;
  box-sizing: border-box;
  width: 77.81%; /* 996px -> 1280px 기준 */
  height: 66.83%; /* 556px -> 832px 기준 */
  left: 11.09%; /* 142px -> 1280px 기준 */
  top: 18.03%; /* 150px -> 832px 기준 */
  background: #F0F0F0;
  border: 0.08vw solid rgba(0, 0, 0, 0.15); /* 1px -> 1280px 기준 */
  border-radius: 1.8vh; /* 15px -> 832px 기준 */
}

/* 질문에 대한 답변을 입력해주세요 */
.placeholder-text51 {
  position: absolute;
  width: 21.56%; /* 276px -> 1280px 기준 */
  height: 3.01%; /* 25px -> 832px 기준 */
  left: 13.44%; /* 172px -> 1280px 기준 */
  top: 21.15%; /* 176px -> 832px 기준 */
  font-family: 'Spoqa Han Sans Neo';
  font-style: normal;
  font-weight: 400;
  font-size: 1.56vw; /* 20px -> 1280px 기준 */
  line-height: 3.01vh; /* 25px -> 832px 기준 */
  color: #000000;
  opacity: 0.3;
}

/*3-3페이지*/
.onboarding-page-81 {
  position: relative;
  width: 100vw;
  height: 100vh;
  background: #FFFFFF;
}


/* 질문 제목 */
.question-title41 {
  position: absolute;
  width: 34.61%; /* 443px -> 1280px 기준 */
  height: 7.57%; /* 63px -> 832px 기준 */
  left: 11.09%; /* 142px -> 1280px 기준 */
  top: 5.65%; /* 47px -> 832px 기준 */
  font-family: 'Spoqa Han Sans Neo';
  font-style: normal;
  font-weight: 700;
  font-size: 3.91vw;
  line-height: 7.57vh;
  color: #000000;
}

/* 답변 박스 */
.answer-box51 {
  position: absolute;
  box-sizing: border-box;
  width: 77.81%; /* 996px -> 1280px 기준 */
  height: 66.83%; /* 556px -> 832px 기준 */
  left: 11.09%; /* 142px -> 1280px 기준 */
  top: 18.03%; /* 150px -> 832px 기준 */
  background: #F0F0F0;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 15px;
}

/* 답변 입력 안내 텍스트 */
.placeholder-text61 {
  position: absolute;
  width: 21.56%; /* 276px -> 1280px 기준 */
  height: 3.01%; /* 25px -> 832px 기준 */
  left: 13.44%; /* 172px -> 1280px 기준 */
  top: 21.15%; /* 176px -> 832px 기준 */
  font-family: 'Spoqa Han Sans Neo';
  font-style: normal;
  font-weight: 400;
  font-size: 1.56vw;
  line-height: 3.01vh;
  color: #000000;
  opacity: 0.3;
}

/* 임시저장 버튼 */
.temp-save-btn31 {
  position: absolute;
  width: 14.06%; /* 180px -> 1280px 기준 */
  height: 5.77%; /* 48px -> 832px 기준 */
  left: 58.91%; /* 754px -> 1280px 기준 */
  top: 88.34%; /* 735px -> 832px 기준 */
  background: #929292;
  border-radius: 0.6vh;
}

/* 임시저장 텍스트 */
.temp-save-text31 {
  position: absolute;
  width: 40.5%; /* 67px -> 1280px 기준 */
  height: 2.76%; /* 23px -> 832px 기준 */
  left: 30%; /* 810px -> 1280px 기준 */
  top: 28%; /* 748px -> 832px 기준 */
  font-family: 'Spoqa Han Sans Neo';
  font-style: normal;
  font-weight: 700;
  font-size: 1.41vw;
  line-height: 2.76vh;
  text-align: center;
  color: #FFFFFF;
}

/* 제출 버튼 */
.submit-btn31 {
  position: absolute;
  width: 14.06%; /* 180px -> 1280px 기준 */
  height: 5.77%; /* 48px -> 832px 기준 */
  left: 74.84%; /* 958px -> 1280px 기준 */
  top: 88.34%; /* 735px -> 832px 기준 */
  background: #179E30;
  border-radius: 0.6vh;
}

/* 제출 텍스트 */
.submit-text31 {
  position: absolute;
  width: 6%; /* 67px -> 1280px 기준 */
  height: 2.76%; /* 23px -> 832px 기준 */
  left: 78.9%; /* 1014px -> 1280px 기준 */
  top: 89.9%; /* 748px -> 832px 기준 */
  font-family: 'Spoqa Han Sans Neo';
  font-style: normal;
  font-weight: 700;
  font-size: 1.41vw;
  line-height: 2.76vh;
  text-align: center;
  color: #FFFFFF;
}

