/* 온보딩 페이지 */
.onboarding-page-1 {
  position: relative;
  width: 100vw;
  height: 100vh;
  background: #FFFFFF;
}

/* group-6 첫페이지 초록색 배경화면 */
.group-6 {
  position: absolute;
  width: 100vw;
  height: 100vh;
}

/* Rectangle 14 */
.rectangle-14 {
  position: absolute;
  top: 10%; 
  left: 10%; 
  width: 80%; 
  height: 80%;
  background: #355E3D;
}


/* mdi:compass-outline Large Icon 중앙 나침반 로고 */
.compass-icon-large {
  position: absolute;
  width: 60%;
  height: 90%;
  left: -39%;
  top: 10.6%;
  transform: translate(-50%, -50%);
}

/* Vector */
.vector {
  position: absolute;
  left: 160%;
  top: 75%;
  width: 21%;
  height: 23.2%;
  background: #ffffff;
}

/* mdi:compass-outline Small Icon 왼쪽 위 작은 나침반 */
.compass-icon-small {
  position: absolute;
  width: 1.7%;
  height: 3%;
  left: 11.5%;
  top: 6%;
  background: #000000;
}

/* Canav 왼쪽 위 */
.canav-title {
  position: absolute;
  width: 5%;
  height: 6%;
  left: 13%;
  top: 6%;
  font-family: 'Spoqa Han Sans Neo';
  font-style: normal;
  font-weight: 700;
  font-size: 1.6vw;
  line-height: 1.9vw;
  text-align: right;
  color: #000000;
}

/* 회원가입 오른쪽 위 */
.signup-text {
  position: absolute;
  width: 2%;
  height: 2%;
  left: 85%;
  top: 6%;
  font-family: 'Spoqa Han Sans Neo';
  font-style: normal;
  font-weight: 400;
  font-size: 0.5vw;
  line-height: 0.25vw;
  text-align: right;
  color: #000000;
}

/* 로그인 회원가입 옆 */
.login-text {
  position: absolute;
  width: 2.5%;
  height: 1%;
  left: 81.5%;
  top: 5.6%;
  font-family: 'Spoqa Han Sans Neo';
  font-style: normal;
  font-weight: 500;
  font-size: 0.5vw;
  line-height: 0.65vw;
  text-align: right;
  color: #000000;
}

/* Canav Lar ge Text 중앙 큰 CANAV*/
.canav-large {
  position: absolute;
  width: 37%;
  height: 40%;
  left: 33.8%;
  top: 33%;
  font-family: 'Spoqa Han Sans Neo';
  font-style: normal;
  font-weight: 900;
  font-size: 11vw;
  line-height: 11vw;
  text-align: right;
  color: #FFFFFF;
}

/* Description Text 가운데 설명 */
.description-text {
  position: absolute;
  width: 16.6%;
  height: 3.75%;
  left: 45%;
  top: 56%;
  font-family: 'Spoqa Han Sans Neo';
  font-style: normal;
  font-weight: 400;
  font-size: 1vw;
  line-height: 1.25vw;
  text-align: right;
  color: #FFFFFF;
}

/* Rectangle 15 밑으로 내리는 사각형 */
.rectangle-15 {
  position: absolute;
  width: 3.4%;
  height: 3.4%;
  left: 46%;
  top: 90%;
  background: #FFFFFF;
  box-shadow: 0.4vw 0.4vw 0.5vw 0.3vw rgba(0, 0, 0, 0.15);
  border-radius: 0.5vw;
}

/* vector-1 */
.vector-1 {
  position: absolute;
  width: 50%;
  height: 40%;
  left: 20%;
  top: 20%;
  border: 0.25vw solid #355E3D;
}

/* Line 3 로그인와 회원가입 나누는 줄 */
.line-3 {
  position: absolute;
  width: 0.8%;
  height: 0;
  left: 84.1%;
  top: 6%;
  opacity: 0.5;
  border: 0.025vw solid #000000;
  transform: rotate(90deg);
}





/* 두번째 페이지 */
.onboarding-page-2 {
  position: relative;
  width: 100vw;
  height: 100vh;
  background: #FFFFFF;
}

/* Group 7 왼쪽 초록색 사각형 */
.group-10 {
  position: absolute;
  width: 33.33%;
  height: 100%;
  left: 0;
  top: 0;
  background: #355E3D;
}

/* Group 8 왼쪽 회색 사각형 (사진 넣을) */
.group-11 {
  position: absolute;
  width: 29.92%;
  height: 65%;
  left: 25%;
  top: 15%;
  transform: translateX(-50%);
  background: #BEBEBE;
}

/* 청소년을 위한 AI 입시&진로 컨설팅 */
.ai-consulting-title {
  position: absolute;
  width: 18%;
  height: 10%;
  left: 50%;
  top: 15%;
  font-family: 'Spoqa Han Sans Neo';
  font-style: normal;
  font-weight: 700;
  font-size: 2.6vw;
  line-height: 2.6vw;
  color: #000000;
}

/* 입시와 진로 컨설팅 설명 */
.ai-consulting-description {
  position: absolute;
  width: 24%;
  height: 7.5%;
  left: 50.5%;
  top: 34%;
  font-family: 'Spoqa Han Sans Neo';
  font-style: normal;
  font-weight: 500;
  font-size: 1.01vw;
  line-height: 1.25vw;
  color: #000000;
}

/* Rectangle 17 입시 컨설팅 회색 배경 */
.rectangle-17 {
  position: absolute;
  width: 9.4%;
  height: 12%;
  left: 50%;
  top: 50%;
  background: #D9D9D9;
}

/* Rectangle 18 진로 컨설팅 회색 창 */
.rectangle-19 {
  position: absolute;
  width: 9.4%;
  height: 12%;
  left: 63%;
  top: 50%;
  background: #D9D9D9;
}

/* 입시 컨설팅 단어 칸 */
.admission-consulting-text {
  position: absolute;
  width: 7.4%;
  height: 3%;
  left: 51.5%;
  top: 53.5%;
  font-family: 'Spoqa Han Sans Neo';
  font-style: normal;
  font-weight: 700;
  font-size: 1.2vw;
  line-height: 1.5vw;
  color: #000000;
}

/* 진로 컨설팅 단어 칸 */
.career-consulting-text {
  position: absolute;
  width: 7.8%;
  height: 3%;
  left: 64.5%;
  top: 53.5%;
  font-family: 'Spoqa Han Sans Neo';
  font-style: normal;
  font-weight: 900;
  font-size: 1.2vw;
  line-height: 1.5vw;
  color: #000000;
}

/* Vector 2 입시 컨설팅 화살표 */
.vector-2 {
  position: absolute;
  width: 3%;
  height: 2%;
  left: 52%;
  top: 58.5%;
  border: 0.15vw solid #355E3D;
}

/* Vector 3 진로 컨설팅 화살표 */
.vector-3 {
  position: absolute;
  width: 3%;
  height: 2%;
  left: 64.6%;
  top: 58.5%;
  border: 0.15vw solid #355E3D;
}




/* 3페이지 */
.page-3 {
  position: relative;
  width: 100vw;
  height: 100vh;
  background: #FFFFFF;
}

/* onboarding-page-3 */
.onboarding-page-3 {
  position: absolute;
  width: 100%;
  height: 100%;
}

/* Group 7 오른쪽 초록색 화면 */
.group-7 {
  position: absolute;
  width: 33.33%;
  height: 100%;
  right: 0;
  top: 0;
  background: #355E3D;
}

/* Group 8 사진 넣을 회색 화면 */
.group-8 {
  position: absolute;
  width: 29.92%;
  height: 65%;
  left: 75%;
  top: 15%;
  transform: translateX(-50%);
  background: #BEBEBE;
}

/* Group 9 그라데이션 */
.group-9 {
  position: absolute;
  width: 100%;
  height: 15%;
  left: 0;
  bottom: 0;
  background: linear-gradient(180deg, rgba(190, 190, 190, 0) 0%, rgba(0, 0, 0, 0.25) 100%);
}

/* 대학생을 위한 AI 취업 컨설팅 제목 */
.ai-job-consulting-title {
  position: absolute;
  width: 25%;
  height: auto;
  left: 26%;
  top: 15.7%;
  font-family: 'Spoqa Han Sans Neo';
  font-weight: 500;
  font-size: 3.6vw;
  line-height: 3.6vw;
  color: #000000;
}

/* 입시와 진로 컨설팅 설명 */
.ai-job-consulting-description {
  position: absolute;
  width: 40%;
  height: auto;
  left: 32%;
  top: 35%;
  font-family: 'Spoqa Han Sans Neo';
  font-weight: 500;
  font-size: 1vw;
  line-height: 1.25vw;
  color: #000000;
}

/* Rectangle 18 바로가기 초록 네모 */
.rectangle-18 {
  position: absolute;
  width: 25%;
  height: 12.5%;
  left: 21%;
  top: 67%;
  background: #179E30;
}

/* 진로 컨설팅 바로가기 */
.career-consulting-link {
  position: absolute;
  width: 50%;
  height: auto;
  left: 21.5%;
  top: 73%;
  font-family: 'Spoqa Han Sans Neo';
  font-weight: 700;
  font-size: 2.3vw;
  line-height: 0; /* 박스 높이 */
  color: #FFFFFF;
}

/* Vector 4 스타일 정의 */
.vector-4 {
  position: absolute;
  width: 3.6%;
  height: 2%;
  left: 43%;
  top: 72.2%;
  border: 0.15vw solid #000000;
  transform: rotate(-89.82deg);
}

/* Vector 5 스타일 정의 */
.vector-5 {
  position: absolute;
  width: 3%;
  height: 2.5%;
  left: 47.5%;
  top: 96.4%;
  border: 0.25vw solid #355E3D;
  transform: rotate(-180deg);
}
