/* 온보딩 페이지 */
.onboarding-page {
  position: relative;
  width: 1280px;
  height: 832px;
  left: 100px;
  top: 100px;
  background: #FFFFFF;
}

/* group-6 첫페이지 초록색 배경화면 */
.group-6 {
  position: absolute;
  width: 1043.67px;
  height: 680.02px;
  left: 118px;
  top: 76px;
}

/* Rectangle 14 */
.rectangle-14 {
  position: absolute;
  width: 1043.67px;
  height: 680.02px;
  left: 118px;
  top: 76px;
  background: #355E3D;
}

/* mdi:compass-outline Large Icon 중앙 나침반 로고 */
.compass-icon-large {
  position: absolute;
  width: 146px;
  height: 146px;
  left: 304px;
  top: 306px;
}

/* Vector */
.vector {
  position: absolute;
  left: 8.33%;
  right: 8.33%;
  top: 8.33%;
  bottom: 8.33%;
  background: #FFFFFF;
}

/* mdi:compass-outline Small Icon 왼쪽 위 작은 나침반*/
.compass-icon-small {
  position: absolute;
  width: 33px;
  height: 33px;
  left: 133px;
  top: 28px;
}

/* Vector Black */
.vector-black {
  position: absolute;
  left: 8.33%;
  right: 8.33%;
  top: 8.33%;
  bottom: 8.33%;
  background: #000000;
}

/* Canav 왼쪽 위*/
.canav-title {
  position: absolute;
  width: 98px;
  height: 40px;
  left: 170px;
  top: 25px;
  font-family: 'Spoqa Han Sans Neo';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 40px; /* identical to box height */
  text-align: right;
  color: #000000;
}

/* 회원가입 
오른쪽 위*/
.signup-text {
  position: absolute;
  width: 37px;
  height: 13px;
  left: 1092px;
  top: 39px;
  font-family: 'Spoqa Han Sans Neo';
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 13px; /* identical to box height */
  text-align: right;
  color: #000000;
}

/* 로그인 
회원가입 옆*/
.login-text {
  position: absolute;
  width: 28px;
  height: 13px;
  left: 1032px;
  top: 39px;
  font-family: 'Spoqa Han Sans Neo';
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 13px; /* identical to box height */
  text-align: right;
  color: #000000;
}

/* Canav Large Text 중앙 큰 CANAV*/
.canav-large {
  position: absolute;
  width: 525px;
  height: 213px;
  left: 450px;
  top: 272px;
  font-family: 'Spoqa Han Sans Neo';
  font-style: normal;
  font-weight: 700;
  font-size: 170px;
  line-height: 213px; /* identical to box height */
  text-align: right;
  color: #FFFFFF;
}

/* Description Text 가운데 설명 어쩌구 저쩌구*/
.description-text {
  position: absolute;
  width: 331px;
  height: 75px;
  left: 629px;
  top: 485px;
  font-family: 'Spoqa Han Sans Neo';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  text-align: right;
  color: #FFFFFF;
}

/* Rectangle 15 밑으로 내리는 사각형*/
.rectangle-15 {
  position: absolute;
  width: 66px;
  height: 66px;
  left: 607px;
  top: 713px;
  background: #FFFFFF;
  box-shadow: 8px 8px 10px 6px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}

/* Vector 1 밑으로 내리는 사각형 안 화살표*/
.vector-1 {
  position: absolute;
  width: 31px;
  height: 15px;
  left: 624px;
  top: 741px;
  border: 5px solid #355E3D;
}

/* Line 3 로그인와 회원가입 나누는 줄*/
.line-3 {
  position: absolute;
  width: 16px;
  height: 0px;
  left: 1077px;
  top: 38px;
  opacity: 0.5;
  border: 0.5px solid #000000;
  transform: rotate(90deg);
}



/*두번째 페이지*/


/* 온보딩 페이지 */
.onboarding-page {
  position: relative;
  width: 1280px;
  height: 832px;
  left: 100px;
  top: 932px;
  background: #FFFFFF;
}

/* Group 7 왼쪽 초록색 사각형 */
.group-7 {
  position: absolute;
  width: 424px;
  height: 832px;
  left: 0px;
  top: 0px;
}

/* Rectangle 14 */
.rectangle-14 {
  position: absolute;
  width: 424px;
  height: 832px;
  left: 0px;
  top: 0px;
  background: #355E3D;
}

/* Group 8 왼쪽 회색 사각형(사진 넣을)*/
.group-8 {
  position: absolute;
  width: 383px;
  height: 536px;
  left: 142px;
  top: 148px;
}
dd
/* Rectangle 14 (Group 8 Background) */
.group-8-background {
  position: absolute;
  width: 383px;
  height: 536px;
  left: 142px;
  top: 148px;
  background: #BEBEBE;
}

/* 청소년을 위한 AI 입시&진로 컨설팅 */
.ai-consulting-title {
  position: absolute;
  width: 386px;
  height: 100px;
  left: 652px;
  top: 204px;
  font-family: 'Spoqa Han Sans Neo';
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 40px;
  color: #000000;
}

/* 입시와 진로 컨설팅 설명 */
.ai-consulting-description {
  position: absolute;
  width: 383px;
  height: 72px;
  left: 652px;
  top: 346px;
  font-family: 'Spoqa Han Sans Neo';
  font-style: normal;
  font-weight: 500;
  font-size: 19.4px;
  line-height: 24px;
  color: #000000;
}

/* Rectangle 17 입시 컨설팅 회색 배경*/
.rectangle-17 {
  position: absolute;
  width: 180px;
  height: 124px;
  left: 652px;
  top: 503px;
  background: #D9D9D9;
}

/* Rectangle 18 (진로 컨설팅 회색 창) */
.rectangle-18 {
  position: absolute;
  width: 180px;
  height: 124px;
  left: 856px;
  top: 503px;
  background: #D9D9D9;
}

/* 입시 컨설팅 단어 칸*/
.admission-consulting-text {
  position: absolute;
  width: 112px;
  height: 29px;
  left: 686px;
  top: 536px;
  font-family: 'Spoqa Han Sans Neo';
  font-style: normal;
  font-weight: 700;
  font-size: 23px;
  line-height: 29px; /* identical to box height */
  color: #000000;
}

/* 진로 컨설팅 단어 칸*/
.career-consulting-text {
  position: absolute;
  width: 112px;
  height: 29px;
  left: 890px;
  top: 536px;
  font-family: 'Spoqa Han Sans Neo';
  font-style: normal;
  font-weight: 700;
  font-size: 23px;
  line-height: 29px; /* identical to box height */
  color: #000000;
}

/* Vector 2 입시 컨설팅 화살표*/
.vector-2 {
  position: absolute;
  width: 40.5px;
  height: 12px;
  left: 689px;
  top: 585.5px;
  border: 3px solid #355E3D;
}

/* Vector 3 진로 컨설팅 화살표*/
.vector-3 {
  position: absolute;
  width: 40.5px;
  height: 12px;
  left: 890px;
  top: 586px;
  border: 3px solid #355E3D;
}



/*3페이지*/


/* 위로 올라가는 화살표*/
.onboarding-page-3 {
  position: relative;
  width: 1280px;
  height: 832px;
  left: 100px;
  top: 1764px;
  background: #FFFFFF;
}

/* Group 7 오른쪽 초록색 화면*/
.group-7 {
  position: absolute;
  width: 424px;
  height: 832px;
  right: 0px;
  top: 0px;
}

/* Rectangle 14 맨 밑 그라데이션*/
.rectangle-14 {
  position: absolute;
  width: 424px;
  height: 832px;
  left: 856px;
  top: 0px;
  background: #355E3D;
}

/* Group 8 사진 넣을 회색 화면*/
.group-8 {
  position: absolute;
  width: 383px;
  height: 536px;
  left: 755px;
  top: 150px;
}

/* Rectangle 14 (Group 8 Background) */
.group-8-background {
  position: absolute;
  width: 383px;
  height: 536px;
  left: 755px;
  top: 150px;
  background: #BEBEBE;
}

/* Group 9 */
.group-9 {
  position: absolute;
  width: 1280px;
  height: 127px;
  left: 0px;
  top: 705px;
}

/* Rectangle 14 (Group 9 Background) */
.group-9-background {
  position: absolute;
  width: 1280px;
  height: 127px;
  left: 0px;
  top: 705px;
  background: linear-gradient(180deg, rgba(190, 190, 190, 0) 0%, rgba(0, 0, 0, 0.25) 100%);
}

/* 대학생을 위한 AI 취업 컨설팅 */
.ai-job-consulting-title {
  position: absolute;
  width: 272px;
  height: 100px;
  left: 355px;
  top: 204px;
  font-family: 'Spoqa Han Sans Neo';
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 40px;
  text-align: right;
  color: #000000;
}

/* 입시와 진로 컨설팅 설명 */
.ai-job-consulting-description {
  position: absolute;
  width: 383px;
  height: 72px;
  left: 245px;
  top: 346px;
  font-family: 'Spoqa Han Sans Neo';
  font-style: normal;
  font-weight: 500;
  font-size: 19.4px;
  line-height: 24px;
  color: #000000;
}

/* Rectangle 18 바로가기 초록 네모*/
.rectangle-18 {
  position: absolute;
  width: 384px;
  height: 124px;
  left: 244px;
  top: 503px;
  background: #179E30;
}

/* 진로 컨설팅 바로가기 */
.career-consulting-link {
  position: absolute;
  width: 201px;
  height: 29px;
  left: 325px;
  top: 550px;
  font-family: 'Spoqa Han Sans Neo';
  font-style: normal;
  font-weight: 700;
  font-size: 23px;
  line-height: 29px; /* identical to box height */
  color: #FFFFFF;
}

/* Vector 4 진로 컨설팅 바로가기 화살표*/
.vector-4 {
  position: absolute;
  width: 17.57px;
  height: 8px;
  left: 538px;
  top: 573.57px;
  border: 3px solid #FFFFFF;
  transform: rotate(-89.82deg);
}

/* Vector 1 */
.vector-1 {
  position: absolute;
  width: 31px;
  height: 15px;
  left: 655px;
  top: 798px;
  border: 5px solid #355E3D;
  transform: rotate(-180deg);
}
 