/* 온보딩 페이지 로그인창 */
.onboarding-page {
    position: relative;
    width: 100%;
    height: 100%;
    left: 625%;
    top: 12.02%;
    background: #FFFFFF;
}

/* Rectangle 24 로그인 뒤에 초록색 배경 */
.rectangle-24 {
    position: absolute;
    width: 100%;
    height: 43.51%;
    left: 0%;
    top: 9.13%;
    background: #355E3D;
}

/* 로그인 */
.login-title {
    position: absolute;
    width: 20%;
    height: 8.75%;
    left: 43.4%;
    top: 22%;
    font-family: 'Spoqa Han Sans Neo', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 4vw;
    line-height: 8.75%;
    color: #FFFFFF;
}

/* mdi:compass-outline 왼쪽 위 작은 canav 아이콘 */
.mdi-compass-outline {
    position: absolute;
    width: 2.58%;
    height: 4.58%; 
    left: 10.39%; 
    top: 3.89%;
}

/* Vector3 작은 canav 아이콘 */
.vector3 {
    position: absolute;
    left: 8.33%;
    right: 8.33%;
    top: 8.33%;
    bottom: 8.33%;
    background: #000000;
}

/* Canav */
.canav {
    position: absolute;
    width: 7.66%;
    height: 5.56%; 
    left: 13.28%; 
    top: 6%; 
    font-family: 'Spoqa Han Sans Neo', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 2.5vw;
    line-height: 5.56%; 
    text-align: right;
    color: #000000;
}

/* 회원가입 오른쪽 위 작은 회원가입 */
.signup {
    position: absolute;
    width: 5%;
    height: 1.81%; 
    left: 85%;
    top: 4.1%; 
    font-family: 'Spoqa Han Sans Neo', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1vw;
    line-height: 1vw; 
    text-align: right;
    color: #000000;
}

/* 로그인 오른쪽 위 작은 로그인 */
.login-link {
    position: absolute;
    width: 4%;
    height: 1.81%;
    left: 80%; 
    top: 4.1%;
    font-family: 'Spoqa Han Sans Neo', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1vw; 
    line-height: 1vw;
    text-align: right;
    color: #000000;
}

/* Line 3 로그인과 회원가입 사이에 선 */
.line-3 {
    position: absolute;
    width: 1.25%; 
    height: 0%; 
    left: 84.14%; 
    top: 5.28%; 
    opacity: 0.5;
    border: 0.5px solid #000000;
    transform: rotate(90deg);
}

/* Line 4 canav와 로그인 사이에 선 */
.line-4 {
    position: absolute;
    width: 100%;
    height: 0%;
    left: 0%;
    top: 10.56%;
    opacity: 0.5;
    border: 0.5px solid #000000;
}

/* Rectangle 25 가운데에 흰 네모상자 */
.rectangle-25 {
    position: absolute;
    width: 42.58%;
    height: 50%; 
    left: 28.67%; 
    top: 37.78%; 
    background: #FFFFFF;
    box-shadow: 0px 4px 10px 5px rgba(0, 0, 0, 0.15);
    border-radius: 2.78%;
}

/* 아이디 */
.id-label {
    position: absolute;
    width: 10%;
    height: 2.64%;
    left: 19%; 
    top: 17%;
    font-family: 'Spoqa Han Sans Neo', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 1vw;
    line-height: 2.64%; 
    color: #355E3D;
}

/* Rectangle 26 아이디를 입력해주세요 상자 */
.input-box {
    box-sizing: border-box;
    position: absolute;
    width: 70%; 
    height: 12%;
    left: 16.4%;
    top: 22%; 
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.15);
    box-shadow: inset 0px 2px 4px 2px rgba(0, 0, 0, 0.05);
    border-radius: 0.69%; 
}

/* 아이디를 입력해 주세요 */
.input-placeholder {
    position: absolute;
    width: 80%; 
    height: 2.64%; 
    left: 4%; 
    top: 50%;
    font-family: 'Spoqa Han Sans Neo', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 0.75vw;
    line-height: 2.64%; 
    color: #929292;
}

/* 비밀번호 */
.password-label {
    position: absolute;
    width: 10%; 
    height: 2.64%;
    left: 19%;
    top: 40.28%;
    font-family: 'Spoqa Han Sans Neo', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 1vw;
    line-height: 2.64%; 
    color: #355E3D;
}

/* Rectangle 27 비밀번호를 입력해주세요 상자 */
.password-box {
    box-sizing: border-box;
    position: absolute;
    width: 70%;
    height: 12%;
    left: 16.4%; 
    top: 47.03%; 
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.15);
    box-shadow: inset 0px 2px 4px 2px rgba(0, 0, 0, 0.05);
    border-radius: 0.69%;
}

/* 비밀번호를 입력해 주세요 */
.password-placeholder {
    position: absolute;
    width: 80%;
    height: 2.64%;
    left: 4%; 
    top: 50%;
    font-family: 'Spoqa Han Sans Neo', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 0.75vw; 
    line-height: 2.64%; 
    color: #929292;
}

/* Canav에 오신 것을 환영합니다! */
.welcome-message {
    position: absolute;
    width: 15.16%;
    height: 2.64%; 
    left: 42.7%; 
    top: 30%; 
    font-family: 'Spoqa Han Sans Neo', sans-serif;
    font-style: normal;
    font-weight: 100;
    font-size: 1vw;
    line-height: 2.64%;
    color: #FFFFFF;
}

/* Rectangle 28 로그인 버튼 */
.login-button {
    position: absolute;
    width: 50%; 
    height: 8.33%;
    left: 25%;
    top: 70%;
    background: #355E3D;
    border-radius: 4.17%; 
}

/* 로그인 버튼 텍스트 */
.login-button-text {
    position: absolute;
    width: 50%;
    height: 3.33%; 
    left: 26%;
    top: 55%;
    font-family: 'Spoqa Han Sans Neo', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1vw; 
    line-height: 3.19%; 
    text-align: center;
    color: #FFFFFF;
}

/* Rectangle 29 회원가입 버튼 */
.signup-button {
    box-sizing: border-box;
    position: absolute;
    width: 50%; 
    height: 8.33%; 
    left: 25%;
    top: 80%; 
    background: #FFFFFF;
    border: 1px solid #355E3D;
    border-radius: 4.17%; 
}

/* 회원가입 버튼 텍스트 */
.signup-button-text {
    position: absolute;
    width: 50%; 
    height: 3.33%;
    left: 26%;
    top: 56.5%; 
    font-family: 'Spoqa Han Sans Neo', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1vw; 
    line-height: 3.19%;
    text-align: center;
    color: #355E3D;
}

/* mdi:compass-outline 오른쪽 큰 canav 아이콘 */
.mdi-compass-outline-large {
    position: absolute;
    width: 43.67%; 
    height: 77.64%; 
    left: 70.78%;
    top: 11.94%; 
    opacity: 0.1;
}

/* Vector4 뒤에 큰 흰색 canav 아이콘 */
.vector4-background {
    position: absolute;
    left: 8.33%;
    right: 8.33%;
    top: 8.33%;
    bottom: 8.33%;
    background: #FFFFFF;
}
