/* 온보딩 페이지 회원가입 창 */
.onboarding-page {
  position: relative;
  width: 100vw;
  height: 100vh;
  color: #FFFFFF;
}

/* 회원가입 */
.signup-title {
  position: absolute;
  width: 50%;
  height: 7.57%;
  left: 44.11%;
  top: 15.87%;
  font-family: 'Spoqa Han Sans Neo', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 50px;
  color: #355E3D;
}

/* 회원 정보를 입력해 주세요 */
.signup-subtitle {
  position: absolute;
  width:20%;
  height: 2.28%;
  left: 26.88%;
  top: 35.96%;
  font-family: 'Spoqa Han Sans Neo', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 19px;
  color: #355E3D;
}

/* 아이디 */
.label-id {
  position: absolute;
  width: 4%;
  height: 2.28%;
  left: 26.88%;
  top: 40.51%;
  font-family: 'Spoqa Han Sans Neo', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 19px;
  color: #355E3D;
}

/* mdi:compass-outline 위쪽 canav 아이콘 */
.icon-compass {
  position: absolute;
  width: 2.58%;
  height: 3.96%;
  left: 10.39%;
  top: 3.37%;
}

/* Vector1 배경? */
.vector1 {
  position: absolute;
  left: 8.33%;
  right: 8.33%;
  top: 8.33%;
  bottom: 8.33%;
  background: #ffffff;
}

/* Canav */
.brand-title {
  position: absolute;
  width: 7.66%;
  height: 4.81%;
  left: 13.28%;
  top: 3.01%;
  font-family: 'Spoqa Han Sans Neo', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  text-align: right;
  color: #000000;
}

/* 회원가입 - 헤더 위쪽 작은 회원가입 */
.signup-header {
  position: absolute;
  width: 88.3%;
  top: 2.98%;
  height: 50%;
  font-family: 'Spoqa Han Sans Neo', sans-serif;
  font-style: normal;
  font-size: 15px;
  line-height: 13px;
  text-align: right;
  color: #000000;
  margin: 10px;
}

/* 로그인 위쪽 로그인 */
.login-header {
  position: absolute;
  width: 83.8%;
  top: 4.1%;
  height: 50%;
  font-family: 'Spoqa Han Sans Neo', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 13px;
  text-align: right;
  color: #000000;
}

/* Line 3 로그인과 회원가입 사이에 선 */
.line3 {
  position: absolute;
  width: 1.25%;
  height: 0%;
  left: 84.14%;
  top: 4.57%;
  opacity: 0.5;
  border: 0.5px solid #000000;
  transform: rotate(90deg);
}

/* Line 4 canav와 회원가입 사이에 선 */
.line4 {
  position: absolute;
  width: 100%;
  height: 0%;
  left: 0%;
  top: 9.13%;
  opacity: 0.5;
  border: 0.5px solid #000000;
}

/* Line 5 회원가입과 회원 정보를 입력해주세요 사이에 선 */
.line5 {
  position: absolute;
  width: 57.34%;
  height: 0%;
  left: 21.33%;
  top: 29.21%;
  opacity: 0.5;
  border: 0.5px solid #000000;
}

/* Rectangle 20 아이디를 입력해주세요 상자 */
.input-field {
  box-sizing: border-box;
  position: absolute;
  width: 33.52%;
  height: 5.77%;
  left: 26.88%;
  top: 43.75%;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.15);
  box-shadow: inset 0px 2px 4px 2px rgba(0, 0, 0, 0.05);
  border-radius: 0.6%;
}

/* 아이디를 입력해 주세요 */
.placeholder-id {
  position: absolute;
  width: 11.33%;
  height: 2.28%;
  left: 28.05%;
  top: 45.43%;
  font-family: 'Spoqa Han Sans Neo', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.17%;
  line-height: 1.5%;
  color: #929292;
}

/* 비밀번호 */
.label-password {
  position: absolute;
  width: 4%;
  height: 2.28%;
  left: 26.88%;
  top: 51%;
  font-family: 'Spoqa Han Sans Neo', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 19px;
  color: #355E3D;
}

/* * (별표) 비밀번호 옆 별 */
.asterisk {
  position: absolute;
  width: 0.63%;
  height: 2.28%;
  left: 30.5%;
  top: 52%;
  font-family: 'Spoqa Han Sans Neo', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.17%;
  line-height: 1.5%;
  color: #A81717;
}

/* Rectangle 21 비밀번호를 입력해주세요 상자 */
.input-password {
  box-sizing: border-box;
  position: absolute;
  width: 46.17%;
  height: 5.77%;
  left: 26.88%;
  top: 54%;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.15);
  box-shadow: inset 0px 2px 4px 2px rgba(0, 0, 0, 0.05);
  border-radius: 0.6%;
}

/* 비밀번호를 입력해 주세요 */
.placeholder-password {
  position: absolute;
  width: 12.42%;
  height: 2.28%;
  left: 28.05%;
  top: 57.31%;
  font-family: 'Spoqa Han Sans Neo', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.17%;
  line-height: 1.5%;
  color: #929292;
}

/* Rectangle 22 중복확인 버튼 */
.duplicate-check-btn {
  position: absolute;
  width: 10.94%;
  height: 5.77%;
  left: 62.11%;
  top: 43.75%;
  background: #355E3D;
  border-radius: 3.12%;
}

/* 중복 확인 */
.duplicate-check-text {
  position: absolute;
  width: 60%;
  height: 2.28%;
  left: 20%;
  top: 48%;
  font-family: 'Spoqa Han Sans Neo', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1vw;
  line-height: 1.5%;
  text-align: center;
  color: #FFFFFF;
}

/* Rectangle 23 회원가입 버튼 */
.signup-btn {
  position: absolute;
  width: 13.91%;
  height: 7.33%;
  left: 43.2%;
  top: 84.02%;
  background: #355E3D;
  border-radius: 3.52%;
}

/* 회원가입 버튼 텍스트 */
.signup-btn-text {
  position: absolute;
  width: 40%;
  height: 2.87%;
  left: 31%;
  top: 55%;
  font-family: 'Spoqa Han Sans Neo', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1vw;
  line-height: 1.95%;
  text-align: center;
  color: #FFFFFF;
}

/* mdi:compass-outline 아마 아래에 canav 아이콘? */
.icon-compass-large {
  position: absolute;
  width: 43.67%;
  height: 67.15%;
  left: -15.63%;
  top: 57.67%;
  opacity: 0.1;
}

/* 아이디 옆 별표 */
.asterisk-id {
  position: absolute;
  width: 0.63%;
  height: 2.28%;
  left: 29.8%;
  top: 41%;
  font-family: 'Spoqa Han Sans Neo', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.17%;
  line-height: 1.5%;
  color: #A81717;
}